$maleColor: cornsilk;
$femaleColor: #dce3ff;
$houseColor: #ffdce3;
$dark: #282c34;
$border: #807e79;

.body {
  min-width: 720px;
  height: calc(100vh - 34px - 24px);
  overflow-y: auto;
}

%bars {
  background-color: $dark;
  min-width: 700px;
  display: flex;
  color: white;
}

.header {
  @extend %bars;
  height: 34px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;
}

.hints {
  @extend %bars;
  height: 24px;
  flex-direction: row;
  font-size: 15px;
  justify-content: space-around;
}

.hint {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

@mixin colorBox($color) {
  width: 30px;
  height: 10px;
  margin-right: 5px;

  background-color: $color;
}

.colorBoxMale {
  @include colorBox($maleColor);
}

.colorBoxFemale {
  @include colorBox($femaleColor);
}

.colorBoxHouse {
  @include colorBox($houseColor);
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

%genericContainer {
  border: 2px solid $border;
  border-radius: 4px;
  padding: 5px;
}

.container {
  @extend %genericContainer;
}
