$maleColor: cornsilk;
$femaleColor: #dce3ff;
$houseColor: #ffdce3;
$dark: #282c34;
$border: #807e79;

$headerHeight: 34px;
$headerMobileHeight: 65px;
$footerHeight: 24px;

.body {
  height: calc(100vh - #{$headerMobileHeight} - #{$footerHeight});

  @media screen and (min-width: 720px) {
    min-width: 720px;
    height: calc(100vh - #{$headerHeight} - #{$footerHeight});
  }

  overflow-y: auto;
}

%bars {
  @media screen and (min-width: 720px) {
    min-width: 700px;
  }

  background-color: $dark;
  display: flex;
  color: white;
}

.header {
  @extend %bars;
  height: $headerMobileHeight;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;

  @media screen and (min-width: 720px) {
    height: $headerHeight;
    align-items: center;
  }
}

.hints {
  @extend %bars;
  height: $footerHeight;
  flex-direction: row;
  font-size: 15px;
  justify-content: space-around;
  align-items: center;
}

.hint {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

@mixin colorBox($color) {
  width: 30px;
  height: 10px;
  margin-right: 5px;

  background-color: $color;
}

.colorBoxMale {
  @include colorBox($maleColor);
}

.colorBoxFemale {
  @include colorBox($femaleColor);
}

.colorBoxHouse {
  @include colorBox($houseColor);
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

%genericContainer {
  border: 2px solid $border;
  border-radius: 4px;
  padding: 5px;
}

.container {
  @extend %genericContainer;
}
