@import "./App.module.scss";

.errorPage {
  color: coral;

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &>div {
    padding-bottom: 10px;
  }

  img {
    width: 227px;
    height: 90px;
  }
}
